:root {
  --accent-color: #2196f3;
  --hover-color: #188ce8;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-icon-color: #afb1b8;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --logo-color: #000000;
  --project-color: #eeeeee;
}
